$backgroundColor: #000000;
$bodyColor: #FFFFFF;
$bodyFont: -apple-system,BlinkMacSystemFont,"VT323", monospace;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  text-align: center;
}
